<h1>Signup2</h1>
<form action="/user/signup2" method="post">

  <label for="email">email:</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Choose a Password</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
